@using sem2_FSharp.ViewModels.ProfileModels
@model sem2_FSharp.ViewModels.ProfileModels.UserViewModel
@{
    //var isCurrentUser = User.GetId() == Model.Id;
    //Layout = "_ProfileLayout";
}

    <div class="theme-container container">
        <div class="gst-spc3 row">
            <main class="col-md-9 col-sm-8 blog-wrap">
                <article class="" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <div class="account-details-wrap">
                        <div class="heading-2">
                            <h3 class="title-3 fsz-18">My Account Information</h3>
                        </div>

                        <div class="image">
                            <img src="@Url.Content($"~/profile/{Model.Id}/image")?date=@DateTime.Now.ToString()" id="upload-img" alt="image" /><br>
                            <form id="upload-container" class="form-group" method="POST" action="profile/uploadImage">
                                @* <img id="upload-image" src="~/images/upload.svg"> *@
                                <div>
                                    <input id="file-input" type="file" name="file" multiple>
                                    <label for="file-input">Выберите фото</label>
                                    <span>или перетащите его сюда</span>
                                </div>
                                <button class="alt fancy-button" type="submit">Update</button>
                            </form>
                        </div>

                        <div class="account-box">
                            <form action="@Url.Action("ProfileEdit", "Profile")" method="post" class="form-delivery">
                                <div class = "box">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Name, "Имя")
                                                @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control"}, placeholder = Model.Name})
                                                @Html.ValidationMessageFor(m => m.Name)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Surname, "Фамилия")
                                                @Html.EditorFor(m => m.Surname, new {htmlAttributes = new {@class = "form-control"}, placeholder = Model.Surname})
                                                @Html.ValidationMessageFor(m => m.Surname)
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">Время окончания подписки:</div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <button class="alt fancy-button" type="submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            @Html.Partial("EditPasswordPartial", new PasswordChangeModel())
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row footer-top">
                <div class="col-md-6">
                    <div id="information">
                        <h2>FilmMediaHD</h2>
                        <p class="italic">If you have any problems or questions, please contact us by phone, email  or at the address:</p>
                        <div class="infomation">
                            <p><i class="fa fa-phone"></i> Telephone: +8 946 552 97 36</p>
                            <p><i class="fa fa-envelope-o"></i> Email: filmmedia@gmail.com</p>
                            <p><i class="fa fa-map"></i> Address: Kazan, st.Pushkina 32</p>
                            <p><i class="fa fa-clock-o"></i> 8:00 - 20:00, Monday - Saturday, Sunday - closed</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0713484921584!2d49.12397771590237!3d55.79199898056382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead13c469b355%3A0x6eaecda0bd9d795b!2z0YPQuy4g0J_Rg9GI0LrQuNC90LAsIDMyLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDAxNQ!5e0!3m2!1sru!2sru!4v1617977468445!5m2!1sru!2sru" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <!-- End container -->
    </footer>
