@model FilmDTO

<link rel="stylesheet" href="~/css/collapse.css?ver=100">
<div class="header-content">
    <div class="container">
        <!--<div class="row align-items-center justify-content-between">-->
        <div class="description" >
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="film">
                        <div class="film_logo">
                            <img src="@Url.Content($"~/filmLogos/{Model.Id}/image")" style="height: 158px; width: 160px" alt="img">
                        </div>
                        <div class="film_rate">
                            @* <div class="rate"> *@
                            @*     7.3&ensp;&ensp; *@
                            @* </div> *@
                            <div class="about_film">
                                @Model.Info
                            </div>
                            @* <div class="film_age"> *@
                            @*     12+ *@
                            @* </div> *@
                            <p class="film_text">@Model.ShortDescription</p>
                            <button class="watch">Начать просмотр</button>
                            <button class="add">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="content_background_details1"></div>
                        <div class="content_background_details2-0">
                            <img class="content_background_details2-0-img" src="@Url.Content($"~/filmBackground/{Model.Id}/image")" style="height: 400px; width:500px" alt="img">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="content_background_details">
                        <div class="film_logo">
                            <img src="@Url.Content($"~/filmLogos/{Model.Id}/image")" style="height: 110px; width: 130px" alt="img">
                        </div>
                        <div class="content_background_details2">
                            <img src="@Url.Content($"~/filmBackgrounds/{Model.Id}/image")" style="height: 400px" alt="img">
                        </div>
                        <div class="film_rate2">
                            @* <div class="rate"> *@
                            @*     7.3&ensp; *@
                            @* </div> *@
                            <p class="film_text">@Model.LongDescription</p>
                        </div>
                        <div class="content_background_details1"></div>
                        <div class="roles">
                            <p id="main_roles"><p style="color: #7f8291; font-size: 14px">В главных ролях<p>
                                @foreach (var film in Model.Actors)
                                {
                                    <p>@film</p>
                                }
                            <p class="producer"><p style="color: #7f8291; font-size: 14px">Режиссеры<p>
                            @Model.Producer<br>
                        </p>
                            <p class="name"><p style="color: #7f8291; font-size: 14px">Оригинальное название<p>
                            @Model.OriginalName
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div> &lt;!&ndash; row &ndash;&gt;-->
    </div> <!-- Container -->
</div>	<!-- header-content -->
