@model sem2_FSharp.ViewModels.ProfileModels.PasswordResetModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/authorization.css?ver=100">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="ResetPassword">
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, "Пароль")
                                @Html.EditorFor(m => m.NewPassword, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, "Подтвердите пароль")
                                @Html.EditorFor(m => m.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <div class="form-group send">
                                <button type="submit" id="sendEmail">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>